@import "master/variables";
@import "master/mixins";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "master/reset";

html, body
{
	color: $textColor;
	font-family: $primaryFont;
	font-size: 16px;
	background-color: #eee;
}

.game
{
	display: block;
	width: 960px;
	height: 540px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -270px;
	margin-left: -480px;
	background-color: $backgroundColor;
	border-radius: 4px;
	overflow: hidden;
}

canvas
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
